{% load category_list_tag %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% category_list_tag %}
        </div>

        <div class="col-7 text-center">
            {% include 'news/search_form.html' %}
        </div>

{#        <div class="col-3 text-right">#}
{#            {% if user.is_authenticated %}#}
{#                {{ request.user.username }} ({{ user.email }}) / <a href="{% url 'account_logout' %}">Выйти</a>#}
{#            {% else %}#}
{#                <span class="text-sm-right small">#}
{#                    <a href="{% url 'account_login' %}">Вход на сайт</a>#}
{#                </span>#}
{#            {% endif %}#}
{#        </div>#}
    </div>
</div>