{# Вывод списка постов в кратком виде: заголовок (ссылка на пост в подробном виде), дата, время #}

{% extends 'base.html' %}
{% load my_tags_filters %}

{% block content %}
    <div class="h3 text-center font-weight-bold" style="color: blue">Посты</div>

    {% for post in posts %}
        {% my_tag__post_short this_post=post this_template=post.category.template %}
    {% endfor %}


{#  взял откуда то пагинацию, нужно разобраться  #}
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock content %}

