<form action="{% url 'search_category_title_list' %}" method="get">
    <a href="{% url 'search_days_list' days_amount=1 %}" class="badge badge-pill badge-primary">&nbsp;Сегодня&nbsp;</a> &nbsp;
    <a href="{% url 'search_days_list' days_amount=7 %}" class="badge badge-pill badge-primary">&nbsp;Неделя&nbsp;</a> &nbsp;
    <a href="{% url 'search_days_list' days_amount=30 %}" class="badge badge-pill badge-primary">&nbsp;Месяц&nbsp;</a> &nbsp;
    <a href="{% url 'search_days_list' days_amount=20000 %}" class="badge badge-pill badge-primary">&nbsp;Все время&nbsp;</a>
    &nbsp; &nbsp;
    <input type="text" name="search" value="" placeholder="Поиск" class="small">
    <button type="submit" class="btn btn-outline-success btn-sm">Поиск</button>
</form>
