{% extends 'base.html' %}
{% load post_short_tag %}

{% block content %}

    <div class="h2 text-center font-weight-bold" style="color: blue">Посты</div>

    <div class="text-center" style="color: blue">
        {% if days_amount %}
            {% if days_amount < 19000 %}
                <p>({{ date_from|date:"d.m.Y" }} - {{ date_to|date:"d.m.Y" }}. Всего дней: {{ days_amount }} )</p>
            {% else %}
                <p> (за все время)</p>
            {% endif %}
        {% else %}
            <p> (Категория: {{ what_category }})</p>
        {% endif %}
    </div>

    {% for post in posts %}
        {% post_short_tag this_post=post this_template=post.category.short_post_template %}
    {% endfor %}

    {#  взял откуда то пагинацию, нужно разобраться  #}
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock content %}
